<configuration scan="true">
    <appender name="DEVNULL" class="ch.qos.logback.core.FileAppender">
		<file>/dev/null</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

    <!--<logger name="org.eclipse.jetty" level="warn"/>-->

    <root level="error">
        <appender-ref ref="DEVNULL" />
    </root>
</configuration>
